/*
    Naam: Tara van Litsenburg
    Datum: 18-03-2022
    file: faq.css
*/
/*Lettertype*/
@font-face {
    font-family: RespectGym;
    src: url("../Fonts/mem9YaCnxnKRiYZOCIYScrg.woff2");
}
*
{
    /*Alle tekst krijgt het lettertype van Respectgym*/
    font-family: RespectGym;
}


body
{
    /*De achtergrondkleur is donkergrijs*/
    background-color: #333333;
    margin: 0px;
}
/* Begin navigatie css code*/
a
{
    /*Decoratie bij de lijst is weg*/
    text-decoration: none;
    /*Tekstkleur is wit*/
    color: white;
    font-size: 20px;
}
a:hover
{
    /*Als je over het menu heen gaat veranderd de achtergrondkleur van de tekst naar oranje*/
    background-color: #f47e3c;
    padding: 10px;

}
li
{
    list-style-type: none;
    /*tekst word in het midden van de li gezet*/
    text-align: center;
    padding: 13px;
    object-position: center;
    float:left;
    width: 9%;

}
ul
{
    padding-bottom: 65px;
    margin: 0px;
    object-position: center;
    padding-left: 80px;
}
nav
{
    object-position: center;
    background-color: black;
    /*Grootte van de nav bar*/
    padding: 20px;
}
/*Einde navigatie code*/
/*Respectgym logo*/
#logo
{
    /*Hoogte en breedte van het logo*/
    width: 75px;
    height: 75px;
    float: left;
    position: absolute;
}
/*Uitklaapbaar menu code*/

h1
{
    /*Tekst word in het midden weergegeven*/
    text-align: center;
    color: white;
}

.faq
{
    width: 800px;
    margin: 40px auto;
    /*Tekst kleur is wit*/
    color: white;
    padding: 45px 45px;
    text-align: center;
}
.container:hover
{
    /*Achtergrond kleur van de antwoorden zodra je de vraag openklapt*/
    background-color: #f47e3c;
}

.faq .container
{
    position: relative;
    margin: 10px 10px;
}

.faq .vraag
{
    position: relative;
    padding: 10px 0;
    /*Lettergrootte*/
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.faq .vraag::before
{
    /*Zet een plusje achter de tekst*/
    content: '+';
    /*de Plus  is wit*/
    color: white;
    position: absolute;
    /*Positie van het plusje midden in de div*/
    top: 50%;
    /*Positie van het plusje*/
    right: -5px;
    /* grootte van de + en -*/
    font-size: 30px;
    transform: translateY(-50%);
}

.faq .antwoord
{
    position: relative;
    /*Kleur oranje van respectgym*/
    background: #f47e3c;
    /*Zorgt ervoor dat de tekst niet zichtbaar is als het menu inklapt*/
    height: 0;
    font-size: 16px;
    text-align: center;
    /*Breedte van de vragen en antwoorden*/
    width: 780px;
    /*Als je niet op de vraag drukt blijft het antwoord onzichtbaar*/
    overflow: hidden;
    transition: 0.5s;
}

.faq hr {
    /*de lijn word over de gehele breedte van de div*/
    width: 100%;
    /*Dikte van de hr*/
    height: 2px ;
    /*Opmaak kleur van de hr*/
    background-color: white;
}

.faq .container.active .antwoord {
    height: 60px;
}

.faq .container.active .vraag::before {
    /*Maakt van de + een -*/
    content: '-';
    font-size: 30px;
}