/*
    Naam: Tara van Litsenburg
    Datum: 18-03-2022
    file: faq.css
*/
/*Lettertype*/
@font-face {
    font-family: RespectGym;
    src: url("../Fonts/mem9YaCnxnKRiYZOCIYScrg.woff2");
}
*
{
    font-family: RespectGym;
}


body
{
    margin: 0px;
}
a
{
    /*Decoratie bij de lijst is weg*/
    text-decoration: none;
    /*Tekstkleur is wit*/
    color: white;
    font-size: 20px;
}
a:hover
{
    background-color: #f47e3c;
    padding: 10px;

}
li
{
    list-style-type: none;
    text-align: center;
    padding: 13px;
    object-position: center;
    float:left;
    width: 9%;

}
ul
{
    padding-bottom: 65px;
    margin: 0px;
    object-position: center;
    padding-left: 80px;
}
nav
{
    object-position: center;
    background-color: black;
    padding: 20px;
}
#logo
{
    width: 75px;
    height: 75px;
    float: left;
    position: absolute;
}
/* Style the buttons that are used to open and close the accordion panel */
.faq {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .faq:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.answers {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}