/*
 * Naam: Tara van Litsenburg
 * Datum: 21-02-2022
 * Tijd: 9:30s
 * Instructie: Hoofdstuk 3 Les 1
 * File: Variabelen.css
*/
body
{
    background-color: #3aa8ff;
    color:white;
}
h1
{
    color: #ff1400;
}
p
{

}
