/*
    Naam: Tara van Litsenburg
    Datum: 21-02-2022
    File: 3.1.css
*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

header
{
    background-color: #458b74;
    text-align: center;
    height: 15%;
    padding-top: 15px;
    position: relative;
}
main
{
    height: 70%;
    box-sizing: border-box;
}

main nav
{
    background-color: 	#66cdaa;
    width: 25%;
    float: left;
    height: 60%;
    box-sizing: border-box;
    padding: 25px;
}

main section
{
    background-color:#76eec6;
    height: 60%;
    float: right;
    width: 75%;
    box-sizing: border-box;
    padding: 25px;
}